---
import Footer from "../../components/Footer.astro";
import Mainlayout from "../../layouts/Main.layout.astro";
---

<Mainlayout>
    <h2>Este es mi primer post</h2>
    <Footer  title={"Post"}/>
</Mainlayout>