---
import MainLayout from "../layouts/Main.layout.astro";
---

<MainLayout>
    <div>
        <h1>About</h1>
    
        <p>Dentro de esta sección, hicimos uso del routing</p>
    </div>
</MainLayout>